<div class="text-center">
  <h3>Messages</h3>
</div>

<br>

<div class="row">
  <div class="large-6 columns">
    <div id="onlineUsers">
      <%= render partial: 'users/online_users'%>
    </div>
  </div>

  <div class="large-6 columns">
    <%= render @conversations %>
  </div>
</div>
