<h1>Tweets#index</h1>

<% if current_user %>
  <%= form_for Tweet.new, remote: true do |f|%>
    <%= f.text_area :content, 'data-behavior' => 'tweet_field' %>
    <%= f.submit 'Add Tweet' %>
  <% end %>
<% end %>

<div id="tweets">
  <%= render @tweets %>
</div>

<% if user_signed_in? %>
  <div id="onlineUsers">
    <h3>Online Tweeters</h3>
  </div>
<% end %>
