<h1>Tweets#index</h1>

<form>
  <label>Add Tweet:</label><br>
  <input type="text" data-behavior="twitter_tweet">
  <input type="submit" value='Tweet' id="submitButton">
</form>

<div id="tweets">
  <%= render @tweets %>
</div>
